.myProjectsBlock {
    background-color: #fff;
    padding: 50px 0;
}

.myProjectsContainer {
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}


.myProjects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 880px) {
    .myProjects {
        justify-content: center;
    }
}
