.myProjectsBlock {
    background-color: #fff;
    padding: 50px 0;
}

.myProjectsContainer {
    justify-content: flex-start;
    flex-direction: column;
}
.title{
    background-color: floralwhite;
    margin-bottom: 25px;
}
.myProjects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
