.myProjectsBlock {
    min-height: 100vh;
    background-color: #3bf3f3;
}

.myProjectsContainer {
    justify-content: flex-start;
    flex-direction: column;
}
.title{
    background-color: floralwhite;
}
.myProjects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
