@import '../common/styles/sass/variables';

.myProjectsBlock {
  background-color: $bgSecondColor;
  padding: 50px 0;

  .myProjectsContainer {
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;

    .myProjects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      @media screen and (max-width: 880px) {
        justify-content: center;
      }
    }
  }
}
