.contactsBlock{
    padding: 50px 0;
    background-color: goldenrod;
}

.contactsContainer{
    flex-direction: column;
}

.title{
    background-color: khaki;
}

.form{
    width: 280px;
    height: 150px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;

}
