.contactsBlock{
    padding: 50px 0;
    background-color: #fff;
}

.contactsContainer{
    flex-direction: column;
}

.title{
    background-color: khaki;
    margin-bottom: 25px;
}

.form{
    width: 280px;
    height: 150px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.name{
    margin-bottom: 10px;
    font-size: 18px;
}
.surname{
    margin-bottom: 10px;
    font-size: 18px;
}
.text{
    height: 100%;
}