.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50px;
  left: 0;
  transform: translateX(-130%);
  transition: all 0.2s;
}

.menuActive {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50px;
  left: 0;
  transform: translateX(0);
}

.blur {
  width: 100%;
  height: 100vh;
  left: 30%;
  backdrop-filter: blur(2px);
  position: absolute;
}

.menuContent {
  width: 30%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;

  ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  ul li a {
    color: white;
    text-decoration: none;
    display: inline;
    font-size: 1.3rem;
  }

  ul li span {
    color: white;
    display: inline-flex;

  }
}

.menuHeader {
  padding: 10px;
  font-size: 2rem;
  color: white;
  border-bottom: 1px solid white;
  width: 100%;
  text-align: center;

}

@media screen and (max-width: 768px) {
  .menuContent {
    width: 100%;
  }
  .blur {
    backdrop-filter: none;
  }
}


