.freelanceBlock {
    background-color: #ddd;
    padding: 50px 0;
    background-position: center;
    background-size: cover;
}

.freelanceContainer {
    text-align: center;
    background: #ffffff69;
    padding: 10px
}

.title {
    margin-bottom: 25px;
    background-color: burlywood;
}

.buttonFreelance {
    margin-bottom: 20px;
}