.freelanceBlock {
    background-color: #ddd;
    padding: 50px 0;
}

.freelanceContainer {
    flex-direction: column;
    justify-content: space-between;
}

.title {
    margin-bottom: 25px;
    background-color: burlywood;
}

.buttonFreelance {
    margin-bottom: 20px;
}