.freelanceBlock{
    background-color: chocolate;
    padding: 50px 0;

}
.freelanceContainer{
    flex-direction: column;
    justify-content: space-between;

}

.buttonFreelance{
    margin-bottom: 20px;
}