.skillsBlock {
    padding: 50px 0;
    background: #ddd;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: floralwhite;
    margin-bottom: 25px;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}