.skillsBlock {
    height: 100vh;
    background-color: darkslategray;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: floralwhite;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}