.mainBlock {
    height: 100vh;
    background-color: #f5df4e;
}

.mainContainer {
    justify-content: space-between;
}

.greetings {
    width: 400px;

}

.photo {
    width: 300px;
    height: 400px;
    background-color: rgba(105, 105, 105, 0);
}

.ava {
    background: #f5df4e;
    width: 400px;
    height: 400px;
    border: 10px solid #ddd;
    border-radius: 50%;
}

.greetings span{
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}



/* Делал на CSS печатный текс (получилось не очень, скачал библиотеку Typed

.greetings p {
    font-family: 'Raleway', sans-serif;
    width: 23ch;
    overflow: hidden;
    font-size: 20px;
    white-space: nowrap;
    border-right: 4px solid orange;
    animation: printed-text 6s steps(23),
    flashing-border .75s step-end infinite;
}

@keyframes flashing-border {
    0% {
        border-color: orange;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: orange;
    }
}

@keyframes printed-text {
    from {
        width: 0;
    }
}*/
