.mainBlock {
    height: 100vh;
    background-color: #f5df4e;
}

.mainContainer {
    justify-content: space-between;
}

.greetings {
    width: 300px;
    background-color: rgba(105, 105, 105, 0.5);
}

.photo {
    width: 300px;
    height: 400px;
    background-color: rgba(105, 105, 105, 0);
}
.ava{
    background: #f5df4e;
    width: 200px;
    height: 400px;
}