.footer {
    background-color: #f5df4e;
    padding: 50px 0;
}

.footerContainer {
    flex-direction: column;
}

.title {
    margin-bottom: 25px;
}

.socialContainer {
    width: 280px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    margin-bottom: 25px;
}

.social {
    width: 50px;
    height: 50px;
    background-color: #3bf3f3;
}